* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  flex-direction: row;
  width: 500vw;
  height: 100vh;
  transition: transform 0.8s ease-in-out;
}

.slide {
  width: 100vw;
  height: 100vh;
  flex: 0 0 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  background: #ff4081;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.hearts {
  display: flex;
  gap: 15px;
  font-size: 40px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.gallery img {
  width: 90vw;        /* almost full screen */
  max-width: 360px;  /* prevent too big on tablets */
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}


.password-box input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.password-box button {
  margin-left: 10px;
}
.gallery.three {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}

.gallery.three img {
  width: 90vw;
  max-width: 360px;
  height: auto;
  border-radius: 16px;
}































